.item, .container{
    transition: all .4s;
}

.container:hover .item{
    transform: scale(.8);
    opacity: .8;
}
.container .item:hover{
    transform: scale(1.3);
    opacity: 1;

    background: linear-gradient(to bottom right,#edf2fa,#d5daeb)
}

/* 여기까지 :hover 관련 스타일 */

/* 여기서부터 모달 관련 스타일 */
.mod-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.8;
    display: none;
    transition: all .3s ease-in-out;
}
.mod-background.active {
    display: block;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 60vh;
    background: white;
    border-radius: 20px ;
    
    padding: 20px;
    padding-left: 20px;
    text-align: center;
    display: none;
    box-shadow: 5px 5px 25px rgb(180, 179, 196);
       
    transition: all .3 ease-in-out;
}

.modal.active {
    display: block;
    opacity: 1;
    
    transition: all .3 ease-in-out;
}


.close-btn {
    width: 30px;
    padding: 0;
    font-weight: 800;
    font-size: 30px;
    background: white;
    color: #353f50;
    transition: all .3s ease-in-out;
    border-radius: 8px;
}
.close-btn:hover {
    background: rgb(203, 206, 226);
}




/* 컨텐츠 스타일  */
.modal .modal_content h2{
    color: #3d485c;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 5px;
}

.modal_content p {
    text-align: left;
    color: #3d485c;
    font-weight: 700;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 70px;
}

.modal_content span{
    color: #3d485c;
    font-weight: 700;
    font-size: 20px;
    
}

.modal footer{
    color: #3d485c;
    font-weight: 700;
    vertical-align: text-bottom;
}

