.item, .container{
    transition: all .3s;
}

.hover {
    transform: scale(1.3);
    background: linear-gradient(to bottom right,#f5f3fa,#eff2ff) !important;
    color: #2d3b55;
    opacity: 1;
}


.container:hover .item{
    transform: scale(.8);
    opacity: .8;
}

.container .item:hover{
    transform: scale(1.3);
    opacity: 1;

    background: linear-gradient(to bottom right,#edf2fa,#d5daeb)
}
/* 여기까지 :hover 가상클래스 관련 스타일 */

/* 타이틀 애니메이션 */
/* .title {
    animation: title .3s;
    animation-timing-function: ease-in-out;
}
@keyframes title {
    0%{
        transform: scale(0);
    }  
    100%{
        transform: scale(1);
    }
} */

/* 여기서부터 모달 관련 스타일 */
.mod-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(69, 70, 85);
    opacity: 0.8;
    display: none;
    transition: all .3s ease-in-out;
}
.mod-background.active {
    display: block;
}

.modal {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60vw;
    height: 60vh;
    background: white;
    border-radius: 20px ;
    
    padding: 20px;
    padding-left: 20px;
    text-align: center;
    
    transform: scale(0);
    box-shadow: 5px 5px 25px rgb(47, 46, 65);
    transition: all .3 ease-in-out;
}

.modal.active {
    transform: scale(1);
    animation: popup 0.5s;
    
}
.modal.active.popup-close{
    animation: popup-close .45s;
    animation-timing-function: ease-in-out;
}


@keyframes popup {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    35%{
        opacity: .8;
        transform: scale(1);
    }
    40%{
        opacity: 1;
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes popup-close {
    0%{
        transform: scale(1);
    }
    35%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.close-btn {
    width: 30px;
    padding: 0;
    font-weight: 800;
    font-size: 30px;
    background: white;
    color: #353f50;
    transition: all .3s ease-in-out;
    border-radius: 8px;
}
.close-btn:hover {
    background: rgb(203, 206, 226);
}


/* 컨텐츠 스타일  */
.modal .modal_content h2{
    color: #3d485c;
    font-weight: 800;
    font-size: 4vh;
    margin-bottom: 5px;
}

.modal_content p {
    text-align: left;
    color: #3d485c;
    font-weight: 700;
    margin-top: 2.8vh;
    font-size: 30px;
    margin-bottom: 70px;
}

.modal_content span{
    color: #3d485c;
    font-weight: 700;
    font-size: 2.3vh;
    
}

.modal footer{
    color: #3d485c;
    font-weight: 700;
    vertical-align: text-bottom;
}

